h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 2.0cm;
}

body {
    background-color: #0c0c0d;

}

h6 {
    font-size: small;
    font-family: sans-serif;
    color: white;
    text-align: right;
} 

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



ul{
    align-content: center;
    text-align: center;
}

ul li{
    display: inline-block;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5cm;
    text-align: center;
}


.popup-inner{
position: relative;
bottom: -100vh;
right: -100vh;
display: flex;
align-items: center;
max-width: 800px;
max-height: 599px;
width: 599;
background-color: white;
transform: rotate(32deg);
transform: 0.74s ease-in-out;
}

.popup-photo{
display: flex;
justify-content: flex-end;
align-content: flex-end;
width: 40%;
height: 100%;
overflow: hidden;
}

.popup-photo img{
width: auto;
height: 100%;
}

.popup-text{
display: flex;
flex-direction: column;
justify-content: center;
width: 59%;
height: 100%;
padding: 4rem;
}

.popup-text p{

font-size: 0.875rem;
color: black;
line-height: 1.5;
}

.popup:target{
visibility: visible;
opacity: 1;

}
.popup:target .popup-inner{
bottom: 0;
right: 0;
transform: rotate(0);
}

.popup.close{
position: flex;
right: 100rem;
top: 100rem;
width: 100rem;
height: 100rem;
font-size: 0.875rem;
font-size: 50;
border-radius: 100%;
background-color: black;
z-index: 4;
color: black;
line-height: 234243rem;
text-align: center;
cursor: pointer;
text-decoration: none;
}

p {
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
}
 h2 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5cm;
 }

 label {
     color: white;
     font-size: 1cm;
 }
 
 input {
     font-size: 1cm;
     align-items: center;
 }

 textarea{
     font-size: 1cm;
     text-align: center;
 }
 
 i{
     text-align: center;
     font-size: 3vh ;
     font-size: 3ch ;
 }
